html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
    background-image: url("https://images.unsplash.com/photo-1516447379291-16bee43e16ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=41f3f5a8ce195288a1d3060a4c8a58c0&auto=format&fit=crop&w=1049&q=80");
    background-size: cover;
    font-family: 'Lato', sans-serif;

}
ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav{
    background-color: crimson;
    display: block;
    position: fixed;
    width: 100%;
    height: auto;
    font-family: "Baskerville Old Face";
    text-align: center;

}
nav ul{
    clear: both;
    margin: 0px;
}
nav li {

    display: inline;
    margin: 5px 15px;
    padding: 10px;

}
#navbar .nav-link {

    cursor: default;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #888888;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #5f5e5e;
    transition: text-shadow 0.2s;

}
#navbar .nav-link:hover {
    cursor: default;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #888888;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0px 3px 5px #771d04;
    transition: text-shadow 0.2s;
}
.hero{
     height: 100vh;
     width: 100%;
     background: no-repeat fixed center;
     background-size: cover;
 }

.hero-content{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 120px 30px 0;
}
.hero-content h1{
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 3em;
    color: ivory;
    font-family: "Baskerville Old Face";
    font-weight: 700;
    letter-spacing: 4px;
    text-shadow: 2px 2px 11px #000;
    text-transform: uppercase;
    background: #84756a4f;
    width: fit-content;
}

.hero-content p{
    margin-top: 30px;
    background: #84756a4f;
    width: fit-content;
    padding: 5px 10px;
    text-align: justify;
    font-size: 2em;
    font-family: "Baskerville Old Face";
    color: ivory;
}
.klasa {
    height: 100vh;
    width: auto;
    background: no-repeat fixed center;
    background-size: cover;
}

.klasa-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 600px;
    padding: 120px 30px 0;
}
.klasa-content h1{
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 3em;
    color: ivory;
    font-family: "Baskerville Old Face";
    font-weight: 700;
    letter-spacing: 4px;
    text-shadow: 2px 2px 11px #000;
    text-transform: uppercase;
    background: #84756a4f;
    width: fit-content;
}

.klasa-content p{
    margin-top: 30px;
    background: #84756a4f;
    width: fit-content;
    padding: 5px 10px;
    text-align: justify;
    font-size: 2em;
    font-family: "Baskerville Old Face";
    color: ivory;
}

footer{
    padding: 5px 20px;
    color: #888888;
    background: crimson;
    text-align: center;
    position: relative;
    bottom: 0;
    width:100%;
    height: 30px;
    font-size: small;
    font-weight: 700;
    font-family: "Baskerville Old Face";
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #5f5e5e;
    transition: text-shadow 0.2s;
    cursor: default;

}

footer p{
    padding: 0;
    margin: 0;
}
#
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}



fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
